#!/usr/env zsh

# Limit ping to 5 pings
alias ping="ping -c 5"

# ls aliases
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -al"
alias l="ls"
alias sl="ls" # because I am always doing this ...

alias pbcopy="xsel --clipboard --input"
alias pbpaste="xsel --clipboard --output"

alias cscape="cd ~/mocu_ws/dist && npm start -- --ui=ui_cscape"
alias build_cscape="cd ~/mocu_ws/ui/ui_cscape && npm run build"
alias rebuild_npm="rm -rf node_modules && npm install"

