#!/usr/env zsh

# command line speedtest
alias speed="wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip"

# Limit ping to 5 pings
alias ping="ping -c 5"

# ls aliases
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -al"
alias l="ls"
alias sl="ls" # because I am always doing this ...
